@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
header {
  position: relative;
  width: auto;
  background: #7c7b7b;
  height: 60px;
}

span {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 69px;
  padding-left: 15px;
  color: #ffff;
  cursor: pointer;
}
.App {
  width: auto;
  height: 100vh;
  background-color: #cbe8ea;
}
